.card {
    height: 500px;
    width: 269px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    display: inline-block;
    box-sizing: content-box;
}

.dialer_card {
    background-color: rgb(17, 17, 17);
}

.calling_card {
    background: rgb(1, 254, 141);
    background: linear-gradient(176deg, rgba(1, 254, 141, 1) 22%, rgba(1, 254, 162, 1) 56%, rgba(1, 228, 255, 1) 100%);
}