.button_container {
    text-align: center;
    margin: auto;
    position: relative;
}

.dialer_container {
    text-align: center;
}

.dialer_image {
    width: 30px;
}

.dialer_screen {
    color: white;
    margin: 10px;
    width: 245px;
    text-align: center;
    border: none;
    font-size: 40px;
    background-color: rgb(17, 17, 17);
}

.dialer_screen:focus,
.dialer_screen:hover {
    cursor: default;
    outline: none;
    box-shadow: none;
}

.dialer_clear_button {
    color: white;
    background-color: rgb(17, 17, 17);
    font-size: 40px;
    border: none;
    padding: 20px 0px;
    margin-left: 30px;
    position: absolute;
}

.dialer_clear_button:hover {
    color: rgb(255, 0, 0)
}